@charset "utf-8";
/* CSS Document */

.header{width:100%; height:190px;}
.wrap{
	width: 100%;
	background: #f6f6f6;
	
}
.wrap .top{width:1200px; margin:0 auto; padding-top:62px; border-bottom:1px solid #dddddd;}
.wrap .top h2{font-size:28px; color:#000000; line-height:40px; margin-bottom:58px;}
.wrap .zhong{ width:1200px;padding-top: 86px;margin: 0 auto; margin-bottom:86px;height: 1452px;}
.wrap .zhong .left h3{font-size:12px; color:#7a6666; margin-bottom:13px;}
.wrap .zhong .left h4{font-size:12px; color:#666666;}
.wrap .zhong .left p{
	line-height: 25px;
	font-size: 12px;
	color: #666666;
	
}
.wrap .zhong .left img:nth-child(4){margin-bottom:7px;}
.wrap .zhong .right{width:300px;}
.wrap .zhong .left,.wrap .zhong .right{float:left;}
.wrap .zhong .left{ width:900px;}
.wrap .zhong .right p:first-child{height:64px; border-top:1px dotted #cccccc; font-size:14px; color:#666666; padding-top:48px; padding-left:41px; background:url(../images/pic2_03.jpg)no-repeat 0 45px;}
.wrap .zhong .right p:nth-child(2){height:95px; padding-top:33px; border-bottom:1px dotted #cccccc; padding-left:41px; font-size:14px; color:#666666; background:url(../images/pic2_06.jpg) no-repeat 0 30px; margin-bottom:40px;}
.wrap .bottom{width:1200px; margin:0 auto;  background:#ffffff;}
.wrap .bottom p{margin:0 auto;width:350px;font-size:12px; color:#666666;height:105px; line-height:105px;position:relative; }
.wrap .bottom a{ font-size:12px; color:#ffffff;display:block; margin-left:29px; width:113px; height:36px;line-height:36px; background:#e90000;position:absolute;right:0;top:36px;text-align:center;}
