.main .bottom{padding-bottom: 192px;}
.main .bottom p{line-height: 26px;text-indent: 28px;}
.main .bottom img{margin:0 auto;width: 630px;height: 430px;}
.main .bottom h3{font-size:20px;height:30px;line-height: 30px;margin-top:26px;}
.main .bottom p.p_center{text-align: center;}
