.main .bottom img{width: 722px;margin:0 auto;}
.main .bottom {padding-bottom: 188px;}
.main .bottom p{line-height;42px;margin-bottom: 20px;text-align: center;}
.main .bottom p.p_left{text-align: left;}
