.main .bottom img{width: 642px;margin: 0 auto;}
.main .bottom p{text-align: center; line-height: 42px;margin-bottom: 10px;}
.main .bottom p.p_left{line-height: 26px;text-align: left;}
.main .bottom{padding-bottom: 200px;}
